.topbar{
    display:flex;
}
.topbar_feed0{
    display:flex;
    flex-direction:column;
    width: 100%;
    background-color: #fff;
}

.topbar__feed{
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-bottom: 0.2px solid rgb(218, 205, 205);
}

.topbar > .topbar__sidebar{
    width: 20%;
    min-height:1000px;
    background-color:#F3F2F1;
    padding-top: 20px;
    padding-left: 1%;
    border-right: 0.2px solid rgb(218, 205, 205);
}

.sideBarOptions > button{
    color:rgb(64, 60, 60);
    background:none;
    width: 100%;
    display:flex;
    align-items:center;
    border:none;
    outline:none;
    font-size: 15px;
    margin-bottom:40px;
    text-align: left;
    cursor:pointer;
}
.sideBarOptions > button:hover{
    color:black;
    cursor:pointer;
}


.topbar > .topbar__feed{
    display:flex;
    flex: 0.8;
    justify-content:space-between;
    align-items:center;
    height:50px;
    border-bottom: 1px solid #e4e0db;
}
.topbar__left{
    margin-left: 20px;
    padding-top: 10px;
    display:flex;
    align-items:center;
    width: 220px;
    justify-content:space-around;
    color:#D24726;
    cursor:pointer;
    height: 50px;
}
.topbar__left > button{
    background-color:white;
    background:none;
    padding: 10px;
    margin:5px;
    border:none;
    outline:none;
    cursor:pointer;
    font-size: 15px;
}
.topbar__left > .topbar__buttonFocused{
    border-bottom: 5px solid #D24726;
}
.topbar__left > button:hover{
    background-color:whitesmoke;
    cursor:pointer;
}

.topbar__right >button{
    font-size: 15px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    background:none;
    padding: 5px;
    margin:5px;
    border:none;
    outline:none;
    cursor:pointer;
    color:#D24726;
}
.topbar__right > button:hover{
    background-color:whitesmoke;
    cursor:pointer;
}
.topbar__right > .topbar__options{
    position: absolute;
    right:2%;
    border:1px solid rgba(39, 10, 10, 0.149);
    font-size: 15px;
    visibility: hidden;

   
}
.topbar__right > .topbar__optionsHidden{
    position: absolute;
    right:2%;
    border:1px solid rgba(39, 10, 10, 0.149);
    font-size: 15px;
    visibility:visible;
}

