body{
    background:#D9E2D7;
}
.login{
    width:100%;
    min-height:700px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login > form{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:450px;
    height:400px;
    background-color: #fff;
    text-align: left;
    
}

.login > form > p{
    font-family:arial;
    font-weight:500;
    width:400px;
    font-size: 30px;
    text-align: center;
}
.login > form > input{
    width:300px;
    height:30px;
    border:none;
    outline: none;
    border-bottom: 1px solid black;
    margin:10px;
    font-size: 15px;
}
.login > form > button{
    background:none;
    outline: none;
    border: none;
    width:100px;
    height:30px;
    background-color: #0067B8;
    color:white;
    cursor: pointer;
    margin-top: 10px;
}
.login > form > button:hover{
    background-color: #0a4c7e;
    color:white;
    cursor: pointer;
}
.login > form > .login__registerText{
    font-size: 13px;
    margin-top: 10px;
}
.login > form > .login__registerText > button {
    background:none;
    outline: none;
    border:none;
    color:#0067B8;
    text-decoration: none;
    cursor: pointer;
}
.login > form > .login__registerText > button:hover{
    text-decoration: underline;
}.login > form > .login__passwordSection{
    display:flex;
    align-items: center;
}
.login > form > .login__passwordSection > input{
    width:300px;
    height:30px;
    border:none;
    outline: none;
    border-bottom: 1px solid black;
    margin:10px;
    font-size: 15px;
    position: relative;
}
.login > form > .login__passwordSection > .MuiSvgIcon-root{
    position: absolute;
    right:230px;
    color:lightgray;
    cursor: pointer;
}
.login > form > .login__passwordSection > .MuiSvgIcon-root:hover{
    position: absolute;
    right:230px;
    color:gray;
    cursor: pointer;
}
