.sidebarTop{
    display:flex;
    width:100%;
    background-color:#F3F2F1;
    height:50px;
    align-items:center;
    border-bottom: 0.2px solid rgb(218, 205, 205);
    
}
.sidebarTop__right{
    margin:5px;
    display:flex;
    width:160px;
    justify-content:space-around;
    align-items:center;
}
.sidebarTop__right > .sidebarTop__buttonMenu{
    display:flex;
    flex-direction: column;
    margin:0px;
    color:#D24726;
    background:none;
    border:none;
    padding:5px;
    cursor:pointer;
}
.sidebarTop__right > .sidebarTop__menuFlex:hover{
    background-color:#80321f;
    cursor:pointer;
}
.sidebarTop__right > .sidebarTop__menuFlex{
    display:flex;
    min-width: 105px;
    margin:0px;
    color:#fff;
    background:#D24726;;
    border:none;
    padding:10px;
    justify-content:center;
    align-items: center;
    cursor:pointer;
    border-radius:2px;
}
.sidebarTop__right > .sidebarTop__buttonMenu:hover{
    background-color:#e4e0db;
    cursor:pointer;
}